$blue: #a7c4fe;
$yellow: #feb737;
$white: #fafafa;
$pink: #e192e5;
$purple: #905bb5;
$purple-hover: #8041ac;

$title-text-color: #333333;
$hover-text-color: #522672fd;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Kanit:ital,wght@0,500;0,600;1,500&family=Noto+Sans+JP:wght@100;300;500;700&family=Raleway:ital,wght@0,200;0,300;0,500;1,400&display=swap");
