<header class="header">
  <div class="container">
    <div class="header__top">
      <a class="header__logo" href="#">
        <img src="images/logo.png" alt="logo" class="header__logo-img" />
        <ul class="header__text-list">
          <li class="header__logo-item rainbow">Bright Workshop</li>
          <li class="header__logo-item">Wrap & detailing</li>
        </ul>
      </a>
      <ul class="header__contacts">
        <li class="header__contacts-item">
          <a href="https://t.me/Bright_workshop" target="_blank">
            <svg width="30" height="30">
              <use href="./images/icon.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="header__contacts-item">
          <a href="viber://chat?number=+380960670875" target="_blank">
            <svg width="30" height="30">
              <use href="./images/icon.svg#viber"></use>
            </svg>
          </a>
        </li>
        <li class="header__contacts-item">
          <a href="https://wa.me/380960670875" target="_blank">
            <svg width="30" height="30">
              <use href="./images/icon.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
        <li class="header__contacts-item">
          <a class="tel__link" href="tel:+380960670875">
            <svg
              class="contacts__icon contacts__icon-tel"
              width="16"
              height="20"
            >
              <use href="images/icon.svg#smartphone"></use>
            </svg>
            <span class="contacts__text">+38 096 067 08 75</span>
          </a>
        </li>
        <li class="header__contacts-item">
          <a href="https://www.instagram.com/bright.workshop" target="_blank">
            <svg class="contacts__icon-inst" width="32" height="32">
              <use href="./images/icon.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="open">
        <svg class="mobile__menu-open" width="26" height="18">
          <use href="./images/icon.svg#menu"></use>
        </svg>
      </button>
    </div>
  </div>
  <nav class="header__nav">
    <ul class="nav__list">
      <li class="nav__item active">
        <a href="#wrap" class="nav__link">
          <svg width="40" height="32">
            <use href="./images/service_icons.svg#wrap"></use>
          </svg>
          <span class="header__nav-text">Оклейка авто</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#det" class="nav__link">
          <svg width="40" height="32">
            <use href="./images/service_icons.svg#det"></use>
          </svg>
          <span class="header__nav-text">detailing</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#sew" class="nav__link">
          <svg width="40" height="32">
            <use href="./images/service_icons.svg#sew"></use>
          </svg>
          <span class="header__nav-text">Sewing</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
